<!DOCTYPE html>
<meta charset="utf-8">
<style>

    body {
        font: 10px sans-serif;
    }

    p {
        font: 12px helvetica;
    }


    .axis path, .axis line {
        fill: none;
        stroke: #000;
        stroke-width: 2px;
        shape-rendering: crispEdges;
    }

    button {
        position: absolute;
        right: 50px;
        top: 10px;
    }

    .mainContainer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    .row1 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

</style>
<link crossorigin="anonymous"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      rel="stylesheet">
<link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>
<link rel="stylesheet" href={{ url_for('static', filename='css/worldMap.css') }}>

<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script crossorigin="anonymous" defer
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"></script>
<script crossorigin="anonymous" defer
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/d3-simple-slider"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="http://d3js.org/queue.v1.min.js"></script>
<script src="static/js/d3-tip.js"></script>


<body>
<div class="wrapper">

    <!-- Page Content -->
    <div id="content">
        <button class="btn btn-info" id="sidebarCollapse" type="button" href="/">
            <i class="fas fa-align-left"></i>
            <span>Go to Home</span>
        </button>


        <div class="filters">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="all" value="all">
                <label class="form-check-label" for="all">All</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input religion" type="checkbox" id="christianity" value="christianity">
                <label class="form-check-label" for="christianity">Christianity</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input religion" type="checkbox" id="noreligion" value="noreligion">
                <label class="form-check-label" for="noreligion">No Religion</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input religion" type="checkbox" id="islam" value="islam">
                <label class="form-check-label" for="islam">Islam</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input religion" type="checkbox" id="animism" value="animism">
                <label class="form-check-label" for="animism">Animism</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input religion" type="checkbox" id="hinduism" value="hinduism">
                <label class="form-check-label" for="hinduism">Hinduism</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input religion" type="checkbox" id="judaism" value="judaism">
                <label class="form-check-label" for="judaism">Judaism</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input religion" type="checkbox" id="syncretism" value="syncretism">
                <label class="form-check-label" for="syncretism">Syncretism</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input religion" type="checkbox" id="buddhism" value="buddhism">
                <label class="form-check-label" for="buddhism">Buddhism</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input religion" type="checkbox" id="shinto" value="shinto">
                <label class="form-check-label" for="shinto">Shinto</label>
            </div>
        </div>

        <div class="mainContainer">
            <div class="row1">
                <div id="chart1"></div>
                <div id="chart2"></div>
            </div>

            <div class="row1">
                <div id="chart4"></div>
                <div id="chart3"></div>
            </div>
        </div>
    </div>
</div>

<script src="http://d3js.org/d3.v5.js"></script>

<script>

    const pick = (...props) => o => props.reduce((a, e) => ({...a, [e]: o[e]}), {});

    let religions = {
        "christianity": "#9f5afd", "noreligion": "#dadfe1", "islam": "#00b16a",
        "animism": "#999900", "hinduism": "#e67e22", "judaism": "#0000FF",
        "syncretism": "#7CFC00", "buddhism": "#96281b", "shinto": "#FF0000"
    };

    const constructChart1 = (checkedReligions) => {
        const margin = ({top: 30, right: 20, bottom: 30, left: 30});
        const width = 500;
        const height = 200;

        let chart = (data, binNames, column) => {
            const x = d3.scaleBand()
                .domain(binNames)
                .range([margin.left, width - margin.right])
                .padding(0.5);

            const y = d3.scaleLinear()
                .domain([0, 10]).nice()
                .range([height - margin.bottom, margin.top]);

            const xAxis = (g) => g.attr("transform", `translate(0,${height - margin.bottom})`)
                .call(d3.axisBottom(x).tickSizeOuter(0))
                .call(g => g.append("text")
                    .attr("x", (width - margin.right) / 2)
                    .attr("y", 40)
                    .attr("fill", "#000")
                    .style("font-size", "8px")
                    .style("font-weight", "bold")
                    .attr("text-anchor", "end")
                    .text("Countries with majority religions"));

            const yAxis = (g) => g.attr("transform", `translate(${margin.left},0)`)
                .call(d3.axisLeft(y))
                .call(g => g.select(".domain").remove())
                .call(g => g.select(".tick:last-of-type text").clone()
                    .attr("x", 4)
                    .style("font-size", "8px")
                    .style("font-weight", "bold")
                    .attr("text-anchor", "start")
                    .text(column));
            const svg = d3.select('#chart1')
                .html("")
                .append('svg')
                .attr("width", width)
                .attr("height", height);

            svg.append("text")
                .attr("transform", "translate(400,0)")
                .attr("x", 100)
                .attr("y", 50)
                .attr("font-size", "10px")
                .text(`Religious Personal Freedom across Countries Aggregated`);

            svg.append("g")
                .attr("fill", "#3498db")
                .selectAll("rect")
                .data(data)
                .join("rect")
                .attr("x", d => x(d.religion))
                .attr("y", d => y(d[column]))
                .attr("width", d => x.bandwidth())
                .attr("height", d => y(0) - y(d[column]));

            svg.append("g")
                .call(xAxis);

            svg.append("g")
                .call(yAxis);

            return svg.node();
        };

        let group_chart = (data) => {
            const groupKey = 'religion';
            const keys = ['pf_religion_estop', 'pf_religion_harrasment', 'pf_religion_restrictions'];

            const x0 = d3.scaleBand()
                .domain(data.map(d => d[groupKey]))
                .rangeRound([margin.left, width - margin.right])
                .paddingInner(0.3);

            const x1 = d3.scaleBand()
                .domain(keys)
                .rangeRound([0, x0.bandwidth()])
                .padding(0.05);

            const y = d3.scaleLinear()
                .domain([0, d3.max(data, d => d3.max(keys, key => d[key]))]).nice()
                .rangeRound([height - margin.bottom, margin.top]);

            const color = d3.scaleOrdinal()
                .range(["#a05d56", "#d0743c", "#ff8c00"]);

            const xAxis = g => g
                .attr("transform", `translate(0,${height - margin.bottom})`)
                .call(d3.axisBottom(x0).tickSizeOuter(0))
                .call(g => g.select(".domain").remove());

            const yAxis = g => g
                .attr("transform", `translate(${margin.left},0)`)
                .call(d3.axisLeft(y).ticks(null, "s"))
                .call(g => g.select(".domain").remove())
                .call(g => g.select(".tick:last-of-type text").clone()
                    .attr("x", 3)
                    .attr("text-anchor", "start")
                    .attr("font-weight", "bold")
                    .text("Score"));


            const legend = svg => {
                const g = svg
                    .attr("transform", `translate(${width + 10},0)`)
                    .attr("text-anchor", "end")
                    .attr("font-family", "sans-serif")
                    .style("font-size", 10)
                    .selectAll("g")
                    .data(color.domain().slice().reverse())
                    .join("g")
                    .attr("transform", (d, i) => `translate(0,${i * 20})`);

                g.append("rect")
                    .attr("x", -19)
                    .attr("width", 19)
                    .attr("height", 19)
                    .attr("fill", color);

                g.append("text")
                    .attr("x", -24)
                    .attr("y", 9.5)
                    .attr("dy", "0.35em")
                    .text(d => d);
            };

            const svg = d3.select('#chart1')
                .append('svg')
                .attr("width", width)
                .attr("height", height);

            svg.append("g")
                .selectAll("g")
                .data(data)
                .join("g")
                .attr("transform", d => `translate(${x0(d[groupKey])},0)`)
                .selectAll("rect")
                .data(d => keys.map(key => ({key, value: d[key]})))
                .join("rect")
                .attr("x", d => x1(d.key))
                .attr("y", d => y(d.value))
                .attr("width", x1.bandwidth())
                .attr("height", d => y(0) - y(d.value))
                .attr("fill", d => color(d.key));

            svg.append("g")
                .call(xAxis);

            svg.append("g")
                .call(yAxis);

            svg.append("g")
                .call(legend);

            return svg.node();
        };

        const getData = async (checkedReligions) => {
            let promises = [
                axios.get(`/religious_freedom`, {
                    params:
                        {religions: JSON.stringify(checkedReligions)},
                }),
                axios.get(`/all_religions`, {
                    params:
                        {religions: JSON.stringify(checkedReligions)},
                }),
            ];

            return await Promise.all(promises);
        };

        getData(checkedReligions).then((data, err) => {
            chart(data[0].data, data[1].data, 'pf_religion');
            group_chart(data[0].data);
        });
    };

    const constructChart2 = (checkedReligions) => {
        const margin = ({top: 200, right: 80, bottom: 50, left: 40});
        let width = 600,
            height = 400;

        const filteredReligions = pick(...checkedReligions)(religions);

        function multisum(entries) {
            return multimap(entries, (p, v) => p + v, () => 0);
        }

        function multimap(entries, reducer = (p, v) => (p.push(v), p), initializer = () => []) {
            const map = new Map();
            for (const [key, value] of entries) {
                map.set(key, reducer(map.has(key) ? map.get(key) : initializer(), value));
            }
            return map;
        }

        function chart(data) {
            data = data.map(({series, count, year}) => (
                {name: series, value: count, date: new Date(`${year}-01-01`)}
            ));

            const top = [...multisum(data.map(d => [d.name, d.value]))]
                .sort((a, b) => b[1] - a[1])
                .slice(0, 9)
                .map(d => d[0]);

            const series = multimap(data.map(d => [d.name, d]));
            data = [].concat(...top.map(name => series.get(name)));

            const stack = d3.stack()
                .keys(top)
                .value((d, key) => d.get(key).value)
                (Array.from(
                    multimap(
                        data.map(d => {
                            return [+d.date, d]
                        }),
                        (p, v) => p.set(v.name, v),
                        () => new Map
                    ).values()
                ));

            for (const layer of stack) {
                for (const d of layer) {
                    d.data.get(layer.key).values = [d[0], d[1]];
                }
            }

            const area = d3.area()
                .curve(d3.curveBasis)
                .x(d => x(d.date))
                .y0(d => y(d.values[0]))
                .y1(d => y(d.values[1]));

            const color = d3.scaleOrdinal()
                .domain(Object.keys(filteredReligions))
                .range(Object.values(filteredReligions));

            const x = d3.scaleTime()
                .domain(d3.extent(data, d => d.date))
                .range([margin.left, width - margin.right]);

            const y = d3.scaleLinear()
                .domain([0, d3.max(data, d => d.values[1])])
                .range([height - margin.bottom, margin.top]);

            const xAxis = g => g
                .attr("transform", `translate(0,${height - margin.bottom})`)
                .call(d3.axisBottom(x).ticks(width / 80).tickSizeOuter(0));

            const yAxis = g => g
                .attr("transform", `translate(${width - margin.right},0)`)
                .call(d3.axisRight(y))
                .call(g => g.select(".domain").remove());

            const legend = svg => {
                const g = svg
                    .attr("transform", `translate(${margin.left + 1},${margin.top - 100})`)
                    .attr("font-family", "sans-serif")
                    .style("font-size", 10)
                    .selectAll("g")
                    .data(color.domain().slice().reverse())
                    .join("g")
                    .attr("transform", (d, i) => `translate(0,${i * 20})`);

                g.append("rect")
                    .attr("width", 19)
                    .attr("height", 19)
                    .attr("fill", color);

                g.append("text")
                    .attr("x", 24)
                    .attr("y", 9.5)
                    .attr("dy", "0.35em")
                    .text(d => d);
            };

            const svg = d3.select('#chart2')
                .html("")
                .append('svg')
                .attr("width", width)
                .attr("height", height);

            svg.append("g")
                .selectAll("path")
                .data([...multimap(data.map(d => [d.name, d]))])
                .join("path")
                .attr("class", "layer")
                .attr("fill", ([name]) => filteredReligions[name])
                .attr("d", ([, values]) => area(values))
                .append("title")
                .text(([name]) => name);

            svg.append("g")
                .call(xAxis);

            svg.append("g")
                .call(yAxis);

            svg.append("g")
                .call(legend);

            svg.selectAll(".layer")
                .attr("opacity", 1)
                .on("mouseover", function (d, i) {
                    svg.selectAll(".layer").transition()
                        .duration(250)
                        .attr("opacity", function (d, j) {
                            return j !== i ? 0.6 : 1;
                        });
                });

            let vertical = d3.select(".chart")
                .append("div")
                .attr("class", "remove")
                .style("position", "absolute")
                .style("z-index", "19")
                .style("width", "1px")
                .style("height", "380px")
                .style("top", "10px")
                .style("bottom", "30px")
                .style("left", "0px")
                .style("background", "#fff");

            d3.select(".chart")
                .on("mousemove", function () {
                    let mousex = d3.mouse(this);
                    mousex = mousex[0] + 5;
                    vertical.style("left", mousex + "px")
                })
                .on("mouseover", function () {
                    let mousex = d3.mouse(this);
                    mousex = mousex[0] + 5;
                    vertical.style("left", mousex + "px")
                });

            return svg.node();
        }

        const getData = async (checkedReligions) => {
            let promises = [
                axios.get(`/population_by_religion_dict`, {
                    params:
                        {religions: JSON.stringify(checkedReligions)},
                }),
            ];

            return await Promise.all(promises);
        };

        getData(checkedReligions).then((data, err) => {
            chart(data[0].data);
        });
    };

    const constructChart3 = (checkedReligions) => {
        const margin = ({top: 10, right: 10, bottom: 170, left: 132});
        let width = 600,
            height = 400;

        function chart(data, bins) {
            const series = d3
                .entries(data);

            const x = d3.scaleBand()
                .domain(bins)
                .range([margin.left, width - margin.right]);

            const y = d3.scaleBand()
                .domain(series.map(d => d.key))
                .range([margin.top, height - margin.bottom]);

            const y1 = d3.scaleBand()
                .domain(series.map(d => bins[d.key]))
                .range([margin.top, height - margin.bottom]);

            const z = d3.scaleLinear()
                .domain([-1, 0, 1])
                .range(['#1f3a93', '#ddd', '#d91e18']);

            const legendBins = [-1, -0.8, -0.6, -0.4, -0.2, 0, 0.2, 0.4, 0.6, 0.8, 1.0];
            const legendHeight = 20;
            const legendElementWidth = 40;

            const xAxis = g => g
                .attr("transform", `translate(0,${height - margin.bottom + 10})`)
                .call(d3.axisBottom(x).tickSize(0).tickPadding(4))
                .call(g => g.select(".domain").remove())
                .selectAll("text")
                .attr("y", 0)
                .attr("x", 0)
                .attr("transform", "rotate(270)")
                .style("text-anchor", "end")
                .style("fill", "#777");

            const yAxis = g => g
                .attr("transform", `translate(${margin.left},0)`)
                .call(d3.axisLeft(y1).tickSize(0).tickPadding(4))
                .call(g => g.select(".domain").remove())
                .selectAll("text")
                .style("fill", "#777");

            const svg = d3.select('#chart3')
                .html("")
                .append("svg")
                .attr("width", width)
                .attr("height", height);

            svg.append("g")
                .call(xAxis);

            svg.append("g")
                .call(yAxis);

            const serie = svg.append("g")
                .selectAll("g")
                .data(series)
                .enter().append("g")
                .attr("transform", d => `translate(0,${y(d.key) + 1})`);

            const tip = d3.tip().attr('class', 'd3-tip').html(d => (d).toFixed(2));

            svg.call(tip);

            serie.append("g")
                .selectAll("rect")
                .data(d => d.value)
                .enter().append("rect")
                .attr("fill", d => z(d))
                .attr("x", (d, i) => x(bins[i]))
                .attr("y", 0)
                .attr("height", y.bandwidth())
                .attr("width", x.bandwidth())
                .on('mouseover', tip.show)
                .on('mouseout', tip.hide);

            const legend = svg.append("g")
                .attr("transform", d => `translate(${margin.left},0)`);

            legend
                .selectAll("rect")
                .data(legendBins)
                .enter()
                .append("rect")
                .attr("x", (d, i) => legendElementWidth * i)
                .attr("y", height - (2 * legendHeight))
                .attr("width", legendElementWidth)
                .attr("height", legendHeight)
                .style("fill", d => z(d));

            legend
                .selectAll("text")
                .data(legendBins)
                .enter()
                .append("text")
                .text(d => (d).toFixed(1))
                .attr("x", (d, i) => legendElementWidth * i)
                .attr("y", height - (legendHeight / 2))
                .style("font-size", "9pt")
                .style("font-family", "Consolas, courier")
                .style("fill", "#aaa");

            return svg.node();
        }

        const getData = async (religion) => {
            let promises = [
                axios.get(`/heat_map_data/${religion}`, {
                    params:
                        {religions: JSON.stringify(checkedReligions)},
                }),
            ];

            return await Promise.all(promises);
        };

        getData('all').then((data, err) => {
            chart(data[0].data.data, data[0].data.columns);
        });

        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    };

    const constructChart4 = (checkedReligions) => {
        const width = 600;
        const height = 400;

        // Set tooltips
        const tip = d3.tip()
            .attr('class', 'd3-tip')
            .offset([-10, 0])
            .html(function (d) {
                return `<strong>Country: </strong>
                    <span class='details'>
                        ${d.properties.name}<br>
                    </span>
                    <strong>Religion: </strong>
                    <span class='details'>
                        ${d.religion}<br>
                    </span>
                    <strong>Happiness_score: </strong>
                    <span class='details'>
                        ${d.happiness_score}<br>
                    </span>`;
            });

        let chart = (data, population, happiness_score) => {
            const projection = d3.geoMercator()
                .scale(100)
                .translate([width / 2, height / 1.5]);

            const path = d3.geoPath().projection(projection);

            const svg = d3.select('#chart4')
                .html("")
                .append("svg")
                .attr("width", width)
                .attr("height", height)
                .append('g')
                .attr('class', 'map');

            svg.call(tip);

            const populationById = {};
            population.forEach(function (d) {
                populationById[d[0]] = {
                    "population": d[2],
                    "religion": d[1]
                };
            });
            const h_scoreById = {};
            happiness_score.forEach(function (d) {
                h_scoreById[d[0]] = d[1];
            });

            data.features.forEach(function (d) {
                if (populationById[d.properties.name] != null) {
                    d.religion = populationById[d.properties.name].religion;
                } else {
                    d.religion = "No religion";
                }
                if (h_scoreById[d.properties.name] != null) {
                    d.happiness_score = h_scoreById[d.properties.name];
                } else {
                    d.happiness_score = 0;
                }
            });


            const opacityScale = d3.scaleLinear()
                .domain([d3.min(Object.values(h_scoreById)), d3.max(Object.values(h_scoreById))])
                .range([0, 1]);

            svg.append("g")
                .attr("class", "countries")
                .selectAll("path")
                .data(data.features)
                .enter().append("path")
                .attr("d", path)
                .style("fill", function (d) {
                    if (populationById[d.properties.name] != null) {
                        return religions[populationById[d.properties.name].religion];
                    } else {
                        return "#dadfe1";
                    }
                })
                .attr('fill-opacity', d => opacityScale(d.happiness_score))
                .style('stroke', 'white')
                .style('stroke-width', 1.5)
                .style("opacity", 0.8)
                // tooltips
                .style("stroke", "white")
                .style('stroke-width', 0.3)
                .on('mouseover', function (d) {
                    tip.show(d);

                    d3.select(this)
                        .style("opacity", 1)
                        .style("stroke", "white")
                        .style("stroke-width", 3);
                })
                .on('mouseout', function (d) {
                    tip.hide(d);

                    d3.select(this)
                        .style("opacity", 0.8)
                        .style("stroke", "white")
                        .style("stroke-width", 0.3);
                });

            svg.append("text")
                .attr("transform", "translate(300,0)")
                .attr("x", -150)
                .attr("y", 20)
                .style("font-size", "12px")
                .text(`Happiness Score Interpolated(2015) across Countries Aggregated`);

            svg.append("path")
                .datum(topojson.mesh(data.features, function (a, b) {
                    return a.code !== b.code;
                }))
                .attr("class", "names")
                .attr("d", path);

            let legend = svg.selectAll("g.legend")
                .data(Object.values(religions))
                .enter().append("g")
                .attr("class", "legend");

            let tile_size = 20;

            legend.append("rect")
                .attr("x", 20)
                .attr("y", function (d, i) {
                    return height - (i * tile_size) - 2 * tile_size;
                })
                .attr("width", tile_size)
                .attr("height", tile_size)
                .style("fill", function (d) {
                    return d;
                })
                .style("opacity", 0.8);

            legend.append("text")
                .attr("x", 50)
                .attr("y", function (d, i) {
                    return height - (i * tile_size) - tile_size - 4;
                })
                .style("font-size", "8px")
                .text(function (d, i) {
                    return Object.keys(religions)[i];
                });

            return svg.node();
        };

        const getData = async (year, checkedReligions) => {
            let promises = [
                d3.json("static/data/world_countries.json"),
                axios.get(`/map/${year}`, {
                    params:
                        {religions: JSON.stringify(checkedReligions)},
                }),
                axios.get(`/happiness_score/${year}`)
            ];

            return await Promise.all(promises);
        };

        getData(2015, checkedReligions).then((data) => {
            chart(data[0], data[1].data, data[2].data);
        });
    };

    const drawAllCharts = (religions) => {
        constructChart1(religions);
        constructChart2(religions);
        constructChart3(religions);
        constructChart4(religions);
    };

    const AllReligions = ["christianity", "islam", "animism", "hinduism",
        "judaism", "syncretism", "buddhism", "shinto", "noreligion"];

    drawAllCharts(AllReligions);

    $('#all').prop('checked', true);
    $('#christianity').prop('checked', true);
    $('#noreligion').prop('checked', true);
    $('#islam').prop('checked', true);
    $('#animism').prop('checked', true);
    $('#hinduism').prop('checked', true);
    $('#judaism').prop('checked', true);
    $('#syncretism').prop('checked', true);
    $('#buddhism').prop('checked', true);
    $('#shinto').prop('checked', true);


    const getCheckedReligions = () => {
        let religions = [];
        $(".religion:checkbox:checked").each(function () {
            religions.push(this.value);
        });

        if (religions.length === 0)
            religions = AllReligions;

        return religions;
    };


    $('#all').change(function () {
        const state = $(this).prop('checked');

        $('#christianity').prop('checked', state);
        $('#noreligion').prop('checked', state);
        $('#islam').prop('checked', state);
        $('#animism').prop('checked', state);
        $('#hinduism').prop('checked', state);
        $('#judaism').prop('checked', state);
        $('#syncretism').prop('checked', state);
        $('#buddhism').prop('checked', state);
        $('#shinto').prop('checked', state);

        drawAllCharts(getCheckedReligions());
    });

    $('#christianity').change(function () {
        $('#all').prop('checked', false);
        const religions = getCheckedReligions();
        drawAllCharts(religions);
    });

    $('#noreligion').change(function () {
        $('#all').prop('checked', false);
        const religions = getCheckedReligions();
        drawAllCharts(religions);
    });

    $('#islam').change(function () {
        $('#all').prop('checked', false);
        const religions = getCheckedReligions();
        drawAllCharts(religions);
    });

    $('#animism').change(function () {
        $('#all').prop('checked', false);
        const religions = getCheckedReligions();
        drawAllCharts(religions);
    });

    $('#hinduism').change(function () {
        $('#all').prop('checked', false);
        const religions = getCheckedReligions();
        drawAllCharts(religions);
    });

    $('#judaism').change(function () {
        $('#all').prop('checked', false);
        const religions = getCheckedReligions();
        drawAllCharts(religions);
    });

    $('#syncretism').change(function () {
        $('#all').prop('checked', false);
        const religions = getCheckedReligions();
        drawAllCharts(religions);
    });

    $('#buddhism').change(function () {
        $('#all').prop('checked', false);
        const religions = getCheckedReligions();
        drawAllCharts(religions);
    });

    $('#shinto').change(function () {
        $('#all').prop('checked', false);
        const religions = getCheckedReligions();
        drawAllCharts(religions);
    });

    $(document).ready(function () {

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });

</script>
</body>