<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>

<ul class="list-unstyled components">
            <li class="active">
                <a href="/coordinated_view1">Coordinated View 1</a>
                <a href="/coordinated_view2">Coordinated View 2</a>
                <a href="/donuts">General Religion Stats</a>
                <a href="/religion">World Religions Data</a>
                <a href="/">Global Terrorism Data</a>
                <a href="/happiness">World Happiness Report</a>
                <a href="/religion-growth">Economic growth across Religions</a>
                <a href="/religion_population">Stacked Area Chart</a>
                <a href="/heatmap">Heat Map</a>
            </li>

        </ul>

</body>
</html>