<!DOCTYPE html>
<meta charset="utf-8">
<style> /* set the CSS */

body {
    font: 12px Arial;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

</style>
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
<link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/d3-simple-slider"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>

<body>
<div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Correlating religions and social factors</h3>
        </div>

       <ul class="list-unstyled components">
            <p>Analytics</p>
            <li class="active">
                <a href="/religion">World Religions Data</a>
                <a href="/">Global Terrorism Data</a>
                <a href="/happiness">World Happiness Report</a>
                <a href="/religion-growth">Economic growth across Religions</a>
                <a href="/religion_population">Stacked Area Chart</a>
                <a href="/heatmap">Heat Map</a>
                <a href="/">Others</a>
            </li>

        </ul>
    </nav>

    <!-- Page Content -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 0">
            <div class="container-fluid">

                <button class="btn btn-info" id="sidebarCollapse" type="button">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
            </div>
        </nav>
        <div id="slider-time"></div>
        <svg id="box"></svg>
    </div>
</div>

<script>
    const margin = ({top: 60, right: 20, bottom: 50, left: 40});
    const width = 1000;
    const height = 500;
    let selectedDate = "2010";

    const dataTime = d3.range(0, 10).map(function (d) {
        return new Date(1965 + (d * 5), 10, 3);
    });

    const sliderTime = d3
        .sliderBottom()
        .min(d3.min(dataTime))
        .max(d3.max(dataTime))
        .step(5 * 1000 * 60 * 60 * 24 * 365)
        .width(300)
        .tickFormat(d3.timeFormat('%Y'))
        .tickValues(dataTime)
        .default(new Date(2010, 10, 3))
        .on('onchange', val => {
            const year = d3.timeFormat('%Y')(val);
            if (year !== selectedDate) {
                d3.select('p#value-time').text(year);
                getData(d3.timeFormat('%Y')(val)).then((data, err) => {
                    chart(data[0].data, data[1].data);
                });
                selectedDate = year;
            }
        });

    var gTime = d3
        .select('div#slider-time')
        .append('svg')
        .attr('width', 500)
        .attr('height', 100)
        .append('g')
        .attr('transform', 'translate(30,30)');

    gTime.call(sliderTime);

    const religion_colors = [
        "#999900", "#96281b", "#9f5afd", "#e67e22",
        "#00b16a", "#0000FF", "#dadfe1", "#FF0000", "#7CFC00"
    ];

    let chart = (data, religions) => {
        religions.splice(-1, 1);
        const bins = d3.histogram()
            .thresholds(9)
            .value(d => d.x)
            (data)
            .map(bin => {
                bin.sort((a, b) => a.y - b.y);
                const values = bin.map(d => d.y);
                const min = values[0];
                const max = values[values.length - 1];
                const q1 = d3.quantile(values, 0.25);
                const q2 = d3.quantile(values, 0.50);
                const q3 = d3.quantile(values, 0.75);
                const iqr = q3 - q1; // interquartile range
                const r0 = Math.max(min, q1 - iqr * 1.5);
                const r1 = Math.min(max, q3 + iqr * 1.5);
                bin.quartiles = [q1, q2, q3];
                bin.range = [r0, r1];
                bin.outliers = bin.filter(v => v.y < r0 || v.y > r1); // TODO
                return bin;
            });

        const x = d3.scaleLinear()
            .domain([d3.min(bins, d => d.x0), d3.max(bins, d => d.x1)])
            .rangeRound([margin.left, width - margin.right]);

        console.log(bins);
        const x1 = d3.scaleBand()
            .domain(religions)
            .rangeRound([margin.left, width - margin.right]);

        const y = d3.scaleLinear()
            .domain([-15, 30]).nice()
            .range([height - margin.bottom, margin.top]);

        const xAxis = (g) => g
            .attr("transform", `translate(0,${height - margin.bottom})`)
            .call(d3.axisBottom(x1).tickSizeOuter(0));

        const yAxis = (g) => g
            .attr("transform", `translate(${margin.left},0)`)
            .call(d3.axisLeft(y).ticks(null, "s"));

        const svg = d3.select('#box')
            .html("")
            .attr("width", width)
            .attr("height", height)
            .attr("stroke-width", 2);

        svg.append("text")
           .attr("transform", "translate(400,0)")
           .attr("x", 100)
           .attr("y", 50)
           .attr("font-size", "16px")
           .text(`Boxplot visualization of GDP across religions`);

        const g = svg.append("g")
            .selectAll("g")
            .data(bins)
            .join("g");

        g.append("path")
            .attr("stroke", (d, i) => (`${religion_colors[i]}`))
            .attr("stroke-width", 2)
            .attr("d", d => {
                console.log(d);
                return `
                M${x((d.x0 + d.x1) / 2)},${y(d.range[1])}
                V${y(d.range[0])}
              `
            });

        g.append("path")
            .attr("fill", (d, i) => (`${religion_colors[i]}`))
            .attr("fill-opacity", 0.5)
            .attr("d", d => `
                            M${x(d.x0) + 1},${y(d.quartiles[2])}
                            H${x(d.x1)}
                            V${y(d.quartiles[0])}
                            H${x(d.x0) + 1}
                            Z
                          `);

        g.append("path")
            .attr("stroke", (d, i) => (`${religion_colors[i]}`))
            .attr("stroke-width", 2)
            .attr("d", d => `
        M${x(d.x0) + 1},${y(d.quartiles[1])}
        H${x(d.x1)}
      `);

        g.append("g")
            .attr("fill", (d, i) => (`${religion_colors[i]}`))
            .attr("fill-opacity", 0.8)
            .attr("stroke", "none")
            .attr("transform", d => `translate(${x((d.x0 + d.x1) / 2)},0)`)
            .selectAll("circle")
            .data(d => d.outliers)
            .join("circle")
            .attr("r", 2)
            .attr("cx", () => (Math.random() - 0.5) * 4)
            .attr("cy", d => y(d.y));

        svg.append("g")
            .call(xAxis);

        svg.append("g")
            .call(yAxis);

        return svg.node();
    };

    const getData = async (year) => {
        let promises = [
            axios.get(`/growth_data/${year}`),
            axios.get(`/all_religions`),
        ];

        return await Promise.all(promises);
    };

    getData(2010).then((data, err) => {
        chart(data[0].data, data[1].data);
    });

    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });


</script>
</body>