<!DOCTYPE html>
<meta charset="utf-8">
<style> /* set the CSS */

body {
    font: 12px Arial;
}


</style>
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
<link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>
<link rel="stylesheet" href={{ url_for('static', filename='css/d3_exploding_boxplot.css') }}>
<link rel="stylesheet" href={{ url_for('static', filename='css/d3.slider.css') }}>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.min.js"></script>
<script src="static/js/d3_exploding_boxplot.js"></script>
<script src="static/js/d3.slider.js"></script>

<body>
<div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Correlating religions and social factors</h3>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="/coordinated_view1">Coordinated View 1</a>
                <a href="/coordinated_view2">Coordinated View 2</a>
                <a href="/religion">World Religions Data</a>
                <a href="/">Global Terrorism Data</a>
                <a href="/happiness">World Happiness Report</a>
                <a href="/religion-growth">Economic growth across Religions</a>
                <a href="/religion_population">Stacked Area Chart</a>
                <a href="/heatmap">Heat Map</a>
                <a href="/donuts">General Religion Stats</a>
            </li>

        </ul>
    </nav>

    <!-- Page Content -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 0">
            <div class="container-fluid">

                <button class="btn btn-info" id="sidebarCollapse" type="button">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
            </div>
        </nav>
        <div id="slider-time" style="height: inherit"></div>
        <div id="box"></div>
    </div>
</div>

<script>
    const margin = {top: 60, right: 30, bottom: 50, left: 40};
    const width = 1000;
    const height = 500;
    let selectedDate = "2010";

    let religions = {
        "christianity": "#9f5afd", "noreligion": "#dadfe1", "islam": "#00b16a",
        "animism": "#999900", "hinduism": "#e67e22", "judaism": "#0000FF",
        "syncretism": "#7CFC00", "buddhism": "#96281b", "shinto": "#FF0000"
    };

    const dataTime = d3.range(0, 10).map(function (d) {
        return new Date(1965 + (d * 5), 10, 3);
    }).map(d3.time.format('%Y'));

    const formatter = d3.format(".0f");

    const slider = d3
        .slider()
        .min(d3.min(dataTime))
        .max(d3.max(dataTime))
        .tickValues(dataTime)
        .stepValues(dataTime)
        .tickFormat(d => formatter(d))
        .value(2010)
        .callback((val) => {
            const year = val;
            if (year !== selectedDate) {
                d3.select('p#value-time').text(year);
                getData(val).then((data, err) => {
                    chart(data[0].data, data[1].data);
                });
                selectedDate = year;
            }
        });

    // Render the slider in the div
    d3.select('#slider-time').call(slider);

    let chart = (data, religions) => {
        console.log(data);
        d3.select("#box").html("");
        var chart = exploding_boxplot(data,
            {y: 'y', group: 'group', color: 'color', label: 'label'});
        chart('#box', width)
    };

    const getData = async (year) => {
        let promises = [
            axios.get(`/growth_data1/${year}`),
            axios.get(`/all_religions`, {
                params:
                    {religions: JSON.stringify(Object.keys(religions))},
            }),
        ];

        return await Promise.all(promises);
    };

    getData(2010).then((data, err) => {
        chart(data[0].data, data[1].data);
    });

    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });


</script>
</body>