<!DOCTYPE html>
<meta charset="utf-8">
<style> /* set the CSS */

body {
    font: 12px Arial;
}

.arc text {
    font: 14px sans-serif;
    text-anchor: middle;
}


</style>
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
<link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://unpkg.com/d3-simple-slider"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="static/js/saveSvgAsPng.js"></script>

<body>
<div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <a href="/home" align=center><h3>HOME</h3></a>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="/coordinated_view1">Coordinated View 1</a>
                <a href="/coordinated_view2">Coordinated View 2</a>
                <a href="/terrorism_in_religion">Terrorism in Religion</a>
                <a href="/religion">World Religions Data</a>
                <a href="/">Global Terrorism Data</a>
                <a href="/happiness">World Happiness Report</a>
                <a href="/religion-growth">Economic growth across Religions</a>
                <a href="/religion_population">Stacked Area Chart</a>
                <a href="/heatmap">Heat Map</a>
            </li>

        </ul>
    </nav>

    <!-- Page Content -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 0">
            <div class="container-fluid">

                <button class="btn btn-info" id="sidebarCollapse" type="button">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
            </div>
        </nav>
        <div>
            <div style="display: flex; justify-content: flex-start">

                <div id="slider-time"></div>
                <table>
                    <tr>
                        <td><input type="checkbox" class="religion" name="religion" value="all" checked> All<br></td>
                        <td><input type="checkbox" class="religion" name="religion" value="christianity" checked>
                            christianity<br></td>
                        <td><input type="checkbox" class="religion" name="religion" value="islam" checked> islam<br>
                        </td>
                        <td><input type="checkbox" class="religion" name="religion" value="hinduism" checked>
                            hinduism<br>
                        </td>
                        <td><input type="checkbox" class="religion" name="religion" value="shinto" checked> shinto<br>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="religion" name="religion" value="judaism" checked> judaism<br>
                        </td>
                        <td><input type="checkbox" class="religion" name="religion" value="buddhism" checked>
                            buddhism<br>
                        </td>
                        <td><input type="checkbox" class="religion" name="religion" value="syncretism" checked>
                            syncretism<br>
                        </td>
                        <td><input type="checkbox" class="religion" name="religion" value="animism" checked> animism<br>
                        </td>
                        <td><input type="checkbox" class="religion" name="religion" value="noreligion" checked> No
                            Religion<br>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="display: flex; justify-content: center">
            <svg id="map"></svg>
            <svg id="map2"></svg>
        </div>

    </div>
</div>


<script>
    const width = 400;
    const height = 300;
    const radius = Math.min(width, height) / 4;
    let selectedYear = "2010";
    let checkedReligions = ["christianity", "islam", "animism", "hinduism",
        "judaism", "syncretism", "buddhism", "shinto", "noreligion"];
    const margin = ({top: 0, right: 20, bottom: 0, left: 0});

    const religions = {
        "christianity": "#9f5afd", "noreligion": "#dadfe1", "islam": "#00b16a",
        "animism": "#999900", "hinduism": "#e67e22", "judaism": "#0000FF",
        "syncretism": "#7CFC00", "buddhism": "#96281b", "shinto": "#FF0000"
    };

    const AllReligions = ["christianity", "islam", "animism", "hinduism",
        "judaism", "syncretism", "buddhism", "shinto", "noreligion"];

    const getCheckedReligions = () => {
        checkedReligions = [];
        $("input[name=religion]:checkbox:checked").each(function () {
            checkedReligions.push(this.value);
        });
        let index = checkedReligions.indexOf("all");
        if (index > -1) {
            checkedReligions.splice(index, 1);
        }
        if (checkedReligions.length === 0)
            checkedReligions = AllReligions;
    };

    const format = d3.format(",");

    const dataTime = d3.range(0, 10).map(function (d) {
        return new Date(1965 + (d * 5), 10, 3);
    });

    let mData = null;

    const sliderTime = d3
        .sliderBottom()
        .min(d3.min(dataTime))
        .max(d3.max(dataTime))
        .step(5 * 1000 * 60 * 60 * 24 * 365)
        .width(400)
        .tickFormat(d3.timeFormat('%Y'))
        .tickValues(dataTime)
        .default(new Date(2010, 10, 3))
        .on('onchange', val => {
            const year = d3.timeFormat('%Y')(val);
            if (year !== selectedYear) {
                selectedYear = year;
                getData(d3.timeFormat('%Y')(val)).then((data, err) => {
                    console.log(d3.timeFormat('%Y')(val));
                    mData = data[0].data;
                    donut();
                    chart(data[1].data);
                });

            }
        });

    var gTime = d3
        .select('div#slider-time')
        .append('svg')
        .attr('width', 500)
        .attr('height', 100)
        .append('g')
        .attr('transform', 'translate(30,30)');

    gTime.call(sliderTime);

    const svg = d3.select('#map')
        .html("")
        .attr("width", width)
        .attr("height", height)
        .append('g')
        .attr('class', 'map');

    function donut() {

        let pop_data = {};
        let pop_data_color = {};
        pop_data["Rest of the world"] = mData['world_population'];
        pop_data_color[0] = "#A9A9A9";
        checkedReligions.forEach(function (d, i) {
            pop_data[d] = mData[d] / 1000000;
            pop_data["Rest of the world"] = pop_data["Rest of the world"] - mData[d];
            pop_data_color[i + 1] = religions[d];
        });
        pop_data["Rest of the world"] = pop_data["Rest of the world"] / 1000000;

        svg.selectAll("g").remove();
        g = svg.append("g").attr("transform", "translate(" + 270 + "," + 185 + ")");
        var pie = d3.pie().sort(null);//diabling auto sorting of values
        var arc = d3.arc().innerRadius(40).outerRadius(radius);// Generate the arcs
        var label = d3.arc().outerRadius(radius + 40).innerRadius(radius);

        var pie = g.selectAll("arc")
            .data(pie(Object.values(pop_data)))// redraw the arcs)
            .enter().append("g")
            .attr("class", "arc");

        pie.append("path")
            .attr("d", arc)
            .attr("fill", function (d, i) {
                return pop_data_color[i];
            })
            .transition()
            .duration(300).attrTween('d', function (d) {
            var i = d3.interpolate(d.startAngle + 0.1, d.endAngle);
            return function (t) {
                d.endAngle = i(t);
                return arc(d);
            }
        });

        pie.append("text")
            .attr("transform", function (d) {
                return "translate(" + label.centroid(d) + ")";
            })
            .attr("dx", ".75em")
            .attr("fill", function (d, i) {
                return pop_data_color[i];
            })
            .text(function (d, i) {
                return (Object.values(pop_data)[i]).toPrecision(4) + ' M';
            });

        let legend = svg.selectAll("g.legend")
            .data(Object.values(pop_data_color))
            .enter().append("g")
            .attr("class", "legend");

        let tile_size = 20;

        legend.append("rect")
            .attr("x", 20)
            .attr("y", function (d, i) {
                return height - (i * tile_size) - 2 * tile_size;
            })
            .attr("width", tile_size)
            .attr("height", tile_size)
            .style("fill", function (d) {
                return d;
            })
            .style("opacity", 0.8);

        legend.append("text")
            .attr("x", 50)
            .style("font-size", 10)
            .attr("y", function (d, i) {
                return height - (i * tile_size) - tile_size - 4;
            })
            .text(function (d, i) {
                return Object.keys(pop_data)[i];
            });

        svg.append("text")
            .attr("transform", "translate(0,0)")
            .attr("x", 100)
            .attr("y", 25)
            .attr("font-size", "16px")
            .text("Majority Population Size");

        //svgToPng(svg.node(), 'terror_attacks_donut.png');
    }

    let chart = (data) => {
        console.log(data);
        const margin = ({top: 60, right: 20, bottom: 50, left: 40});
        const width = 600;
        const height = 400;
        let binNames = [];
        let maxVal = 0;
        data.forEach(function (d) {
            binNames.push(d[0]);
            if (maxVal < d[1])
                maxVal = d[1];
        });
        console.log(data, binNames, religions['christianity']);
        const x = d3.scaleBand()
            .domain(binNames)
            .range([margin.left, width - margin.right])
            .padding(0.5);
        //d3.scaleLog().base(2)
        const y = d3.scaleLinear()
            .domain([0, maxVal]).nice()
            .range([height - margin.bottom, margin.top]);

        const xAxis = (g) => g.attr("transform", `translate(0,${height - margin.bottom})`)
            .call(d3.axisBottom(x).tickSizeOuter(0))
            .call(g => g.append("text")
                .attr("x", (width - margin.right) / 2)
                .attr("y", 40)
                .attr("fill", "#000")
                .attr("font-size", 14)
                .attr("font-weight", "bold")
                .attr("text-anchor", "end")
                .text("Countries with majority religions"));

        const yAxis = (g) => g.attr("transform", `translate(${margin.left},0)`)
            .call(d3.axisLeft(y))
            .call(g => g.select(".domain").remove())
            .call(g => g.select(".tick:last-of-type text").clone()
                .attr("x", 4)
                .attr("font-size", 14)
                .attr("text-anchor", "start")
                .attr("font-weight", "bold")
                .text('#Terror attacks'));

        let svg = d3.select('#map2')
            .attr("width", width + 100)
            .attr("height", height);

        svg.append("text")
            .attr("transform", "translate(400,0)")
            .attr("x", -300)
            .attr("y", 25)
            .attr("font-size", "16px")
            .text(`Religious Personal Freedom across Countries Aggregated`);

        svg.append("g")
            .selectAll("rect")
            .data(data)
            .join("rect")
            .attr("fill", d => religions[d[0]])
            .attr("x", d => x(d[0]))
            .attr("y", d => y(d[1]))
            .attr("width", x.bandwidth())
            .attr("height", d => y(0) - y(d[1]));

        svg.append("g")
            .call(xAxis);

        svg.append("g")
            .call(yAxis);

        //svgToPng(svg.node(), 'terror_attacks_bar.png');
        return svg.node();
    };

    const getData = async () => {

        let promises = [
            axios.get(`/population_by_religion/${selectedYear}`, {
                params:
                    {religions: JSON.stringify(checkedReligions)},
            }),
            axios.get(`/terror_attacks_per_religion/${selectedYear}`, {
                params:
                    {religions: JSON.stringify(checkedReligions)},
            })
        ];

        return await Promise.all(promises);
    };

    getData().then((data, err) => {
        mData = data[0].data;
        donut();
        chart(data[1].data);
    });

    $('input[name=religion]').click(function () {
        $('#all').prop('checked', false);
        getCheckedReligions();
        getData().then((data, err) => {
            mData = data[0].data;
            donut();
            chart(data[1].data);
        });
    });

    $('#all').change(function () {
        const state = $(this).prop('checked');

        $('#christianity').prop('checked', state);
        $('#noreligion').prop('checked', state);
        $('#islam').prop('checked', state);
        $('#animism').prop('checked', state);
        $('#hinduism').prop('checked', state);
        $('#judaism').prop('checked', state);
        $('#syncretism').prop('checked', state);
        $('#buddhism').prop('checked', state);
        $('#shinto').prop('checked', state);

        getData().then((data, err) => {
            mData = data[0].data;
            donut();
            chart(data[1].data);
        });
    });

    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });

    function svgToPng(svgNode, name) {
        saveSvgAsPng(svgNode, name);
    }


</script>
</body>